@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "New Mexika";
  src: url("../fonts/NewMexika.woff2") format("woff2"),
    url("../fonts/NewMexika.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heal The Web A";
  src: url("../fonts/HealTheWebA-Regular.woff2") format("woff2"),
    url("../fonts/HealTheWebA-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Utara Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Utara Regular"),
    url("../fonts/Utara-Regular-BF648a67e9c9a39.woff") format("woff");
}

@font-face {
  font-family: "Utara Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Utara Regular"),
    url("../fonts/Utara-VF-BF648a67e9c8d55.woff") format("woff");
}

@font-face {
  font-family: "Utara Light";
  font-style: normal;
  font-weight: normal;
  src: local("Utara Light"),
    url("../fonts/Utara-Light-BF648a67e9bf730.woff") format("woff");
}

@font-face {
  font-family: "Utara Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Utara Medium"),
    url("../fonts/Utara-Medium-BF648a67e9cbdec.woff") format("woff");
}

@font-face {
  font-family: "Utara SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Utara SemiBold"),
    url("../fonts/Utara-SemiBold-BF648a67e9cad16.woff") format("woff");
}

@font-face {
  font-family: "Utara Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Utara Bold"),
    url("../fonts/Utara-Bold-BF648a67e9d5d51.woff") format("woff");
}

.nav_title {
  font-family: "Heal The Web A", sans-serif;
}
